<%unless message.user_id == current_user.id%>
	<%=link_to(controller: "messages", action:"show", id: message.user_id) do %>
	<div class="border-bottom" style="padding-bottom: 10px; margin-top:10px; overflow: auto; ">
		<div class="span1" style="width:50px !important; margin-left: 0px;">
				<%=image_tag(message.user.profile.avatar_url, width:50)%>
		</div>
		<div class="span4" style="margin-left:10px !important">
			<b><%= message.user.profile.name %></b>
			<div style="color: #333"><%= truncate(message.content)%></div>
		</div>
	</div>
	<%end%>


<%else%>
	<%=link_to(controller: "messages", action:"show", id: message.recipient_id) do %>
	<div class="border-bottom" style="padding-bottom: 10px; margin-top:10px; overflow: auto">
		<div class="span1" style="width:50px !important; margin-left: 0px;">
				<%=image_tag(message.recipient.profile.avatar_url, width:50)%>
		</div>
		<div class="span4" style="margin-left:10px !important">
			<b><%= message.recipient.profile.name %></b>
			<div style="color: #333"><%= truncate(message.content)%></div>
		</div>
	</div>
	<%end%>
<%end%>