<div class="row">
	<div class="span12">
		<h1>Username</h1>
	</div>
</div>
				
<div class="row" style="margin-top:10px">
	<div class="span12">
		<div class="well">
			<div class="row">
				<div class="span2">
					<div class="padded">
						<h3 class="small" style="border-bottom:1px solid #DEDEDE; margin-bottom: 5px;">account</h3>
					<i class="icon-cog"></i> <%=link_to("Profiles")%> <br>								
					<i class="icon-file"></i><%=link_to("Files")%><br>
					<i class="icon-user"></i><%=link_to("Friends")%><br>
					<i class="icon-envelope"></i><%=link_to("Messages", messages_url)%>  <br>
					<i class="icon-tags"></i><%=link_to("Billing")%><br>																																							
					</div>
				</div>
				<div class="span9">
					<div class="well-border-left">

						  <h2>Messages</h2>
						
																																											
					
					</div>
				</div>
			</div>
		</div>
	</div>
</div>