

<div class="row">
 	<div class="span3">
		<div class="thumbnail">
			<%= image_tag(current_user.profile.avatar.url(:thumb))%>
		</div>
		<h2 class="border-top-bottom" style="margin-top: 10px; margin-bottom:10px">
		 <%= current_user.profile.name %>
		</h2>		
		<h3 class = "border-bottom" style="padding-bottom: 10px">
			Joined: <%= I18n.localize(current_user.profile.created_at.to_date, :format => :long)%>
		</h3>

		<h3 class = "border-bottom" style="margin-top: 10px; padding-bottom: 10px">
			<%= pluralize(current_user.documents.count, "Upload")%> 
		</h3>	
		

	</div>


	<div class="span9">
		<h1>Share: <%=  @share.document.name %> </h1>
		<h3>
			Link to file <%=link_to(@share.document.name, @share.document.file_url )%>
		</h3>
		<h3>
			URL: <%="http://#{request.host+request.fullpath}"%>
		</h3>
	</div>
</div>