
	<tr>
		<td>
			<%=image_tag("file.png")%>
			<%= link_to(document.name, document) %>
		</td>
		<td>
			<%= document.extension_type %>
		</td>
		<td>
			<%= I18n.localize(document.created_at.to_date, :format => :long)%>
		</td>	
		<td>
			<%= document.file_size %>
		</td>		
		<td>
			<% if Share.where(document_id: document.id).any?%>
				<%= link_to(image_tag("link.png"), Share.find_by_document_id(document.id)) %>			
			<%else%>
				<%= link_to(image_tag("link.png"), share_document_path(document.id), :class=>"share-link") %>
			<%end%>
		</td>					
	</tr>
