

<div class="row">
 	<div class="span3">
		<div class="thumbnail">
			<%= image_tag(current_user.profile.avatar.url(:thumb))%>
		</div>
		<h2 class="border-top-bottom" style="margin-top: 10px; margin-bottom:10px">
		 <%= current_user.profile.name %>
		</h2>		
		<h3 class = "border-bottom" style="padding-bottom: 10px">
			Joined: <%= I18n.localize(current_user.profile.created_at.to_date, :format => :long)%>
		</h3>

		<h3 class = "border-bottom" style="margin-top: 10px; padding-bottom: 10px">
			<%= pluralize(current_user.documents.count, "Upload")%> 
		</h3>		
		

	</div>
	<%= link_to("Upload New File", new_document_path, :class=>"btn btn-success btn-right")%>
	<div class="span9">
		<div class="border-bottom" style="overflow:hidden">
			<h1 style="display:inline; float:left">Files</h1>
			<div class="right-filter">
				view: 
				<%=link_to "all"%> |
				<%=link_to "my uploads"%>	
			</div>							
		</div>
		<%= render @documents%>
	</div>

</div>


