

<div class="row">
 	<div class="span3">
		<div class="thumbnail">
			<%= image_tag(current_user.profile.avatar.url(:thumb))%>
		</div>
		<h2 class="border-top-bottom" style="margin-top: 10px; margin-bottom:10px">
		 <%= current_user.profile.name %>
		</h2>		
		<h3 class = "border-bottom" style="padding-bottom: 10px">
			Joined: <%= I18n.localize(current_user.profile.created_at.to_date, :format => :long)%>
		</h3>

		<h3  style="margin-top: 10px; padding-bottom: 10px">
			<%= pluralize(current_user.documents.count, "Upload")%> 
		</h3>
		<div class="progress progress-warning" style="margin-bottom: 0px; background: white;border: 1px solid #DEDEDE;
		
			-webkit-box-shadow: inset 0 0 2px #E7E7E7;
			-moz-box-shadow: inset 0 0 2px #E7E7E7;
			box-shadow: inset 0 0 2px #E7E7E7
		">
		  <div class="bar" style="width: <%=current_user.percent_used%>"></div>
		</div>
		<div style="text-align: right; font-size: 11px; line-height: 11px; margin-bottom: 20px; margin-top: 5px;">
			<%=current_user.amount_used%>GM of <%=current_user.amount%>GB used 
		</div>
				
			<div style="padding: 20px; background:white; min-height: 300px; border: 1px solid #DEDEDE; -webkit-box-shadow: 0 0 1px white;
			-moz-box-shadow: 0 0 1px white;
			box-shadow: 0 0 1px white;
			
				-webkit-box-shadow: inset 0 0 4px #E7E7E7;
				-moz-box-shadow: inset 0 0 4px #E7E7E7;
				box-shadow: inset 0 0 4px #E7E7E7;
			
			">
			
				<% current_user.document_folders.where("parent_folder_id is null").each do |document_folder|%>
				<div>					
				<i class="icon-folder-close"></i>	<%=link_to(document_folder.name, document_folder, remote: true)%>
					<div id="folder-<%=document_folder.id%>">
						
					</div>
				</div>
				<%end%>
							
			</div>
	
	</div>


	<div class="span9">
		<div class="row">
			<div class="span9">
				<div id='folder-files'>
					<%= render '/documents/form'%>
				</div>
			</div>
		</div>
		
	</div>

</div>


