<!DOCTYPE html>
<html>
<head>
  <title>Epicclouding</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

<script type="text/javascript" charset="utf-8">
    $(function () {
  		$('#new_document').fileupload({
		dropZone: $(".drop-zone")
});
 	});
  </script>
</head>



<body>
	 <div class="navbar-inner" style="margin-bottom: 40px;">
	    <div class="container">
	      	<div style="padding-top:10px;">	
				<div class="row">
					<div class="span9">
						<a href="/"><img src="/assets/img/cloud.png" xalt="epicclouding" style="height: 35px;"></a>
					</div>
					
					<div class="span3" style="padding-top:0px;">
						<% unless user_signed_in? %>
							<div class="btn-right">
								<div class="btn-group">					
									<%= link_to("sign up", new_user_registration_path, :class=>"btn")%>	
									<%= link_to("sign in" , new_user_session_path, :class=>"btn")%>	
								</div>	
							</div>	
						<%else%>	
							<div class="well well-nav">
								<div class="row">
									<div class="btn-group">
										<%= link_to("#", {:class=>"dropdown-toggle", :data=>{:toggle=>"dropdown"}}) do %>
											<div class="span1" style="width:25px !important;">
												<%= image_tag(current_user.profile.avatar.url(:mini))%>
											</div>
											<div class="span2 span2-nav">
												<%=current_user.profile.name%>
												<span class="caret caret-nav"></span>
											</div>
										<%end%>
									  	<ul class="dropdown-menu dropdown-menu-nav">
									    	<li><%=link_to("Profile", edit_profile_path(current_user.profile))%></li>
									    	<li><%=link_to("Files", documents_path)%></li>																	
											<li><%=link_to("Account & Settings", edit_registration_path(current_user))%></li>
											<li><%=link_to("Sign out", destroy_user_session_url, method: :delete)%></li>
									  	</ul>
									</div>
								</div>
							</div>
						<%end%>	
								
					</div>		
				</div>
	      	</div>
	    </div>
	 </div>
	<div class="row file-management-bar" >
		
	</div>



	<div class="container" style="min-height: 650px">
		<%= yield %>
	</div>
	
	<div class="navbar-static-bottom">
		<div class="container">
			<div class="row">
				<div class="span3">
					epicclouding &#169; 2012
				</div>
			</div>
		</div>
	</div>
	
	
</body>