<!DOCTYPE html>
<html>
<head>
  <title>Epicclouding</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>



<body>
	 <div class="navbar-inner" style="margin-bottom: 40px;">
	    <div class="container">
	      	<div style="padding-top:10px;">	
				<div class="row">
					<div class="span9">
						<a href="/"><img src="/assets/img/cloud.png" xalt="epicclouding"></a>
					</div>
					
					<div class="span3" style="padding-top:5px;">
						<% unless user_signed_in? %>
							<div class="btn-right">
								<div class="btn-group">					
									<%= link_to("sign up", new_user_registration_path, :class=>"btn")%>	
									<%= link_to("sign in" , new_user_session_path, :class=>"btn")%>	
								</div>	
							</div>	
						<%end%>				
					</div>		
				</div>
	      	</div>
	    </div>
	 </div>

	<div class="container">
		<%= yield %>
	</div>
	
	
	
</body>